<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.co_toonum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COTOONUM">
        <activity android:name=".ScrollView"></activity>
        <activity android:name=".Introductory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Ebook_1" />
        <activity android:name=".Ebook_2" />
        <activity android:name=".Ebook_3" />
        <activity android:name=".Ebook_4" />
        <activity android:name=".Ebook_5" />
        <activity android:name=".Ebook_6" />
        <activity android:name=".Profil" />
        <activity android:name=".Contact" />
        <activity android:name=".AboutUs" />
    </application>

</manifest>